AWS_ACCESS_KEY_ID="AKIA..."
AWS_SECRET_ACCESS_KEY="..."
AWS_SESSION_TOKEN="..."
AWS_DEFAULT_REGION="us-east-1"

# Termos de busca (separados por ponto e vírgula)
SEARCH_TERMS="typesense;rabbitmq;amqp"
